.instructions {
  font-family: Avenir, sans-serif;
  color: #ffc60a;
  font-size: 1.2rem;
  font-weight: 700;
}

button {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border-radius: 90px;
  font-family: Avenir, sans-serif;
  z-index: 99;
  margin-top: 1rem;
  background: #ffbf81;
  cursor: pointer;
  box-shadow: 0 3px 8px 0 rgb(129 94 94 / 44%), 0 1px 4px 0 rgba(0, 0, 0, 0.19);
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
}
.won {
  background: #67ab00;
  box-shadow: inset 0 0 10px #29ff43b3;
}
.loss {
  background: #e12222;
  box-shadow: inset 0 0 10px #f8a000b3;
}

h1,
h2 {
  font-family: Avenir, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.title {
  font-family: Avenir, sans-serif;
  font-size: 2.5rem;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 10;
  width: 100%;
  color: #ffc60a;
}
.cup-box {
  position: relative;
  margin: 30px;
}

.ball {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #e12222;
  position: absolute;
  bottom: 6px;
  left: 43%;
  z-index: 1;
  box-shadow: inset 0 0 10px #f8a000b3;
}

.ball::before {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  background: rgb(255 255 255 / 63%);
  content: "";
  position: absolute;
  top: 7px;
  right: 6px;
  z-index: 3;
  border-radius: 50%;
}

.cup-area {
  /* background-color: #aa3333; */
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  padding: 20px;
  margin: 3rem auto;
  justify-content: center;
  align-items: center;
}

.cup.no-transition,
.cup-shadow.no-transition {
  transform: none !important;
}
.confetti-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.cup {
  cursor: pointer;
  width: 180px;
  height: 180px;
  background-image: url("../../assets/images/cup_game.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.cup-shadow {
  width: 140px;
  height: 46px;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  left: 20px;
  background: rgba(0, 0, 0, 0.4);
}

.won-text {
  font-size: 1.8rem;
  color: #67ab00;
  margin: 0;
  font-weight: 700;
}
.lose-text {
  font-size: 1.8rem;
  color: red;
  margin: 0;
  font-weight: 700;
}

.button-area {
  position: fixed;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}
